In [1007]:
# importing the relevant libraries

import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as sns;
from datetime import datetime;
from datetime import date

# Exploratory analysis and data cleaning

In [1008]:
drivers = pd.read_csv(r'/home/jeromemugita/Documents/Code/DataScience/Intermediate DS/Project/archive/drivers.csv')
display(drivers.head(n=5))

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [1009]:
drivers.isna().sum()

driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64

In [1010]:
drivers.drop(columns=['url', 'nationality', 'forename', 'surname', 'dob', 'number'], inplace=True)
drivers

     driverId        driverRef code
0           1         hamilton  HAM
1           2         heidfeld  HEI
2           3          rosberg  ROS
3           4           alonso  ALO
4           5       kovalainen  KOV
..        ...              ...  ...
852       854  mick_schumacher  MSC
853       855             zhou  ZHO
854       856         de_vries  DEV
855       857          piastri  PIA
856       858         sargeant  SAR

[857 rows x 3 columns]

In [1011]:
# drivers['code'][49] = drivers['code'][49].replace('\\N', 'VER')

for index, row in drivers.iterrows():
    if row['driverId'] == 50:
        drivers.at[index, 'code'] = 'VER'
        
drivers

     driverId        driverRef code
0           1         hamilton  HAM
1           2         heidfeld  HEI
2           3          rosberg  ROS
3           4           alonso  ALO
4           5       kovalainen  KOV
..        ...              ...  ...
852       854  mick_schumacher  MSC
853       855             zhou  ZHO
854       856         de_vries  DEV
855       857          piastri  PIA
856       858         sargeant  SAR

[857 rows x 3 columns]

In [1012]:
selected_drivers = ['michael_schumacher', 'verstappen', 'hamilton', 'vettel']
selected_drivers_data = drivers[drivers['driverRef'].isin(selected_drivers)]
selected_drivers_data

    driverId           driverRef code
0          1            hamilton  HAM
19        20              vettel  VET
29        30  michael_schumacher  MSC
49        50          verstappen  VER

In [1013]:
df_drivers = pd.DataFrame(selected_drivers_data)
df_drivers

    driverId           driverRef code
0          1            hamilton  HAM
19        20              vettel  VET
29        30  michael_schumacher  MSC
49        50          verstappen  VER

In [1014]:
pit_stops = pd.read_csv(r'/home/jeromemugita/Documents/Code/DataScience/Intermediate DS/Project/archive/pit_stops.csv')
display(pit_stops.head(n=5))

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [1015]:
pit_stops.shape

(9634, 7)

In [1016]:
pit_stops.isnull().sum()

raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

In [1017]:
pit_stops.dtypes

raceId           int64
driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object

In [1018]:
pit_stops[pit_stops['driverId'] == 50]

Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []

In [1019]:
pit_stops = pit_stops[pit_stops['raceId'] > 1091]
pit_stops

      raceId  driverId  stop  lap      time  duration  milliseconds
9458    1092       842     1    1  14:06:24    41.319         41319
9459    1092       830     1    2  14:08:39  6:27.399        387399
9460    1092       844     1    2  14:08:41  6:29.973        389973
9461    1092       815     1    2  14:08:44  6:32.517        392517
9462    1092       839     1    2  14:08:46  6:33.601        393601
...      ...       ...   ...  ...       ...       ...           ...
9629    1096       849     2   38  18:02:50    25.174         25174
9630    1096       840     2   40  18:04:44    21.802         21802
9631    1096       839     2   41  18:06:09    21.734         21734
9632    1096       846     2   42  18:07:36    21.559         21559
9633    1096       855     2   44  18:11:10    23.159         23159

[176 rows x 7 columns]

In [1020]:
# driver_ids = [1, 20, 30, 50]
# df_pitstops = pd.DataFrame(pit_stops[pit_stops['driverId'].isin(driver_ids)])

# df_pitstops['driverId'].unique()

In [1021]:
results = pd.read_csv(r'/home/jeromemugita/Documents/Code/DataScience/Intermediate DS/Project/archive/results.csv')
display(results.head(n=5))

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [1022]:
results.shape

(25840, 18)

In [1023]:
results.sort_values(by='time', ascending=True)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
15810,15811,640,238,200,25,6,2,2,2,6.0,55,+0.01,4692610,\N,\N,\N,\N,1
2517,2518,139,30,6,1,1,2,2,2,6.0,73,+0.011,5468011,\N,\N,\N,\N,1
9433,9434,405,95,3,5,3,2,2,2,6.0,72,+0.014,6527749,\N,\N,\N,\N,1
11427,11428,479,177,3,6,6,2,2,2,6.0,53,+0.050,5102262,\N,\N,\N,\N,1
16310,16311,663,358,180,4,1,2,2,2,6.0,68,+0.08,5951340,\N,\N,\N,\N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,9999,427,105,6,27,6,2,2,2,6.0,64,\N,\N,\N,\N,\N,\N,11
9996,9997,426,95,3,5,8,\N,W,26,0.0,0,\N,\N,\N,\N,\N,\N,82
9995,9996,426,172,27,26,15,\N,R,25,0.0,2,\N,\N,\N,\N,\N,\N,101
10004,10005,427,77,21,17,17,8,8,8,0.0,63,\N,\N,\N,\N,\N,\N,12
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [1024]:
results.isna().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [1025]:
results = results[results['raceId'] > 1091]
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
25740,25746,1092,830,9,1,1,1,1,1,25.0,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1
25741,25747,1092,815,9,11,4,2,2,2,18.0,28,+27.066,10931070,11,9,1:46.120,196.995,1
25742,25748,1092,844,6,16,2,3,3,3,15.0,28,+31.763,10935767,10,3,1:44.489,200.070,1
25743,25749,1092,839,214,31,5,4,4,4,12.0,28,+39.685,10943689,11,11,1:46.559,196.184,1
25744,25750,1092,1,131,44,6,5,5,5,10.0,28,+40.326,10944330,11,7,1:45.530,198.097,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [1026]:
# driver_ids = [1, 20, 30, 50]
# df_results = pd.DataFrame(results[results['driverId'].isin(driver_ids)])
# df_results

In [1027]:
# df_drivers['code'][49] = df_drivers['code'][49].replace('\\N', 'VER')
# df_drivers

In [1028]:
merger_one = results.merge(pit_stops, on='driverId', how='left', suffixes=['_race_result', '_in_pit'])
merger_one.columns

Index(['resultId', 'raceId_race_result', 'driverId', 'constructorId', 'number',
       'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps',
       'time_race_result', 'milliseconds_race_result', 'fastestLap', 'rank',
       'fastestLapTime', 'fastestLapSpeed', 'statusId', 'raceId_in_pit',
       'stop', 'lap', 'time_in_pit', 'duration', 'milliseconds_in_pit'],
      dtype='object')

In [1029]:
merger_one.isna().sum()

resultId                    0
raceId_race_result          0
driverId                    0
constructorId               0
number                      0
grid                        0
position                    0
positionText                0
positionOrder               0
points                      0
laps                        0
time_race_result            0
milliseconds_race_result    0
fastestLap                  0
rank                        0
fastestLapTime              0
fastestLapSpeed             0
statusId                    0
raceId_in_pit               0
stop                        0
lap                         0
time_in_pit                 0
duration                    0
milliseconds_in_pit         0
dtype: int64

In [1030]:
merger_one.dropna(subset=['raceId_in_pit', 'stop', 'lap', 'time_in_pit', 'duration', 'milliseconds_in_pit'], inplace=True)

In [1031]:
merger_one.isna().sum()

resultId                    0
raceId_race_result          0
driverId                    0
constructorId               0
number                      0
grid                        0
position                    0
positionText                0
positionOrder               0
points                      0
laps                        0
time_race_result            0
milliseconds_race_result    0
fastestLap                  0
rank                        0
fastestLapTime              0
fastestLapSpeed             0
statusId                    0
raceId_in_pit               0
stop                        0
lap                         0
time_in_pit                 0
duration                    0
milliseconds_in_pit         0
dtype: int64

In [1032]:
merger_one.dtypes

resultId                      int64
raceId_race_result            int64
driverId                      int64
constructorId                 int64
number                       object
grid                          int64
position                     object
positionText                 object
positionOrder                 int64
points                      float64
laps                          int64
time_race_result             object
milliseconds_race_result     object
fastestLap                   object
rank                         object
fastestLapTime               object
fastestLapSpeed              object
statusId                      int64
raceId_in_pit                 int64
stop                          int64
lap                           int64
time_in_pit                  object
duration                     object
milliseconds_in_pit           int64
dtype: object

In [1033]:
merger_one.drop(columns=['number', 'grid', 'positionText', 'positionOrder', 'points', 'statusId', 'raceId_in_pit'], inplace=True)
merger_one

,resultId,raceId_race_result,driverId,constructorId,position,laps,time_race_result,milliseconds_race_result,fastestLap,rank,fastestLapTime,fastestLapSpeed,stop,lap,time_in_pit,duration,milliseconds_in_pit
0,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,2,14:08:39,6:27.399,387399
1,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,7,16:27:26,24.308,24308
2,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,13,14:25:50,23.866,23866
3,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,35,15:10:18,32.254,32254
4,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,25,14:37:51,22.487,22487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,40,14:59:30,23.159,23159
876,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,14,15:24:40,23.478,23478
877,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,2,35,15:51:56,28.855,28855
878,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,3,52,16:13:58,23.790,23790
879,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,19,17:32:33,21.740,21740

In [1034]:
merger_one['raceId_race_result'].unique().max()

1096

In [1035]:
positions = ['1', '2', '3']
merger_one[merger_one['position'].isin(positions)]

,resultId,raceId_race_result,driverId,constructorId,position,laps,time_race_result,milliseconds_race_result,fastestLap,rank,fastestLapTime,fastestLapSpeed,stop,lap,time_in_pit,duration,milliseconds_in_pit
0,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,2,14:08:39,6:27.399,387399
1,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,7,16:27:26,24.308,24308
2,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,13,14:25:50,23.866,23866
3,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,35,15:10:18,32.254,32254
4,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,25,14:37:51,22.487,22487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,25828,1096,815,9,3,58,+10.093,5276007,52,4,1:28.972,213.680,1,23,14:35:10,24.892,24892
727,25828,1096,815,9,3,58,+10.093,5276007,52,4,1:28.972,213.680,1,23,15:35:54,22.869,22869
728,25828,1096,815,9,3,58,+10.093,5276007,52,4,1:28.972,213.680,2,47,16:06:49,23.152,23152
729,25828,1096,815,9,3,58,+10.093,5276007,52,4,1:28.972,213.680,1,15,17:26:00,21.360,21360
730,25828,1096,815,9,3,58,+10.093,5276007,52,4,1:28.972,213.680,2,33,17:53:33,21.367,21367

In [1036]:
merger_one.shape

(880, 17)

In [1037]:
merger_one.tail(30)

,resultId,raceId_race_result,driverId,constructorId,position,laps,time_race_result,milliseconds_race_result,fastestLap,rank,fastestLapTime,fastestLapSpeed,stop,lap,time_in_pit,duration,milliseconds_in_pit
850,25842,1096,825,210,17,57,\N,\N,40,20,1:31.158,208.556,1,28,17:46:53,22.387,22387
851,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,1,2,14:08:49,6:36.504,396504
852,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,2,7,16:27:36,25.059,25059
853,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,1,12,14:24:13,24.362,24362
854,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,2,34,15:08:39,24.135,24135
855,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,1,29,14:43:26,23.194,23194
856,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,1,29,15:43:41,24.081,24081
857,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,2,48,16:08:02,23.415,23415
858,25843,1096,1,131,18,55,\N,\N,42,11,1:29.788,211.738,1,18,17:30:48,21.270,21270
859,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,1,2,14:09:14,6:47.673,407673
860,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,2,5,16:23:57,24.785,24785
861,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,1,5,14:12:42,25.321,25321
862,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,2,18,14:36:12,24.195,24195
863,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,1,23,14:36:14,23.826,23826
864,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,2,52,15:17:55,24.039,24039
865,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,1,20,15:32:40,28.807,28807
866,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,2,32,15:48:45,24.292,24292
867,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,3,52,16:15:23,23.640,23640
868,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,1,15,17:26:44,22.423,22423
869,25844,1096,849,3,19,55,\N,\N,45,14,1:30.309,210.517,2,38,18:02:50,25.174,25174
870,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,2,14:08:52,6:36.837,396837
871,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,2,8,16:29:28,24.106,24106
872,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,3,22,16:55:11,24.123,24123
873,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,18,14:35:26,23.870,23870
874,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,2,22,14:45:23,39.707,39707
875,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,40,14:59:30,23.159,23159
876,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,14,15:24:40,23.478,23478
877,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,2,35,15:51:56,28.855,28855
878,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,3,52,16:13:58,23.790,23790
879,25845,1096,4,214,\N,27,\N,\N,24,17,1:30.579,209.889,1,19,17:32:33,21.740,21740

In [1038]:
merger_one['time_race_result'].replace('\\N', pd.NaT, inplace=True)
merger_one['milliseconds_race_result'].replace('\\N', pd.NaT, inplace=True)
merger_one

,resultId,raceId_race_result,driverId,constructorId,position,laps,time_race_result,milliseconds_race_result,fastestLap,rank,fastestLapTime,fastestLapSpeed,stop,lap,time_in_pit,duration,milliseconds_in_pit
0,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,2,14:08:39,6:27.399,387399
1,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,7,16:27:26,24.308,24308
2,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,13,14:25:50,23.866,23866
3,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,35,15:10:18,32.254,32254
4,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,25,14:37:51,22.487,22487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,25845,1096,4,214,\N,27,NaT,NaT,24,17,1:30.579,209.889,1,40,14:59:30,23.159,23159
876,25845,1096,4,214,\N,27,NaT,NaT,24,17,1:30.579,209.889,1,14,15:24:40,23.478,23478
877,25845,1096,4,214,\N,27,NaT,NaT,24,17,1:30.579,209.889,2,35,15:51:56,28.855,28855
878,25845,1096,4,214,\N,27,NaT,NaT,24,17,1:30.579,209.889,3,52,16:13:58,23.790,23790
879,25845,1096,4,214,\N,27,NaT,NaT,24,17,1:30.579,209.889,1,19,17:32:33,21.740,21740

In [1039]:
merger_one.dropna(subset=['time_race_result', 'milliseconds_race_result'], inplace=True)
merger_one

,resultId,raceId_race_result,driverId,constructorId,position,laps,time_race_result,milliseconds_race_result,fastestLap,rank,fastestLapTime,fastestLapSpeed,stop,lap,time_in_pit,duration,milliseconds_in_pit
0,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,2,14:08:39,6:27.399,387399
1,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,7,16:27:26,24.308,24308
2,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,13,14:25:50,23.866,23866
3,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,2,35,15:10:18,32.254,32254
4,25746,1092,830,9,1,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,25,14:37:51,22.487,22487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,25836,1096,852,213,11,58,+1:29.371,5355285,40,7,1:29.489,212.446,1,20,15:32:36,23.287,23287
797,25836,1096,852,213,11,58,+1:29.371,5355285,40,7,1:29.489,212.446,2,40,15:58:47,23.645,23645
798,25836,1096,852,213,11,58,+1:29.371,5355285,40,7,1:29.489,212.446,3,54,16:18:28,23.635,23635
799,25836,1096,852,213,11,58,+1:29.371,5355285,40,7,1:29.489,212.446,1,14,17:24:50,21.591,21591
800,25836,1096,852,213,11,58,+1:29.371,5355285,40,7,1:29.489,212.446,2,38,18:01:49,22.262,22262

In [1040]:
merger_one['milliseconds_race_result'] = merger_one['milliseconds_race_result'].astype(str)
merger_one['position'] = merger_one['position'].astype(int)
merger_one['fastestLap'] = merger_one['fastestLap'].astype(int)
merger_one['rank'] = merger_one['rank'].astype(int)

In [1044]:
merger_one.dtypes

resultId                             int64
raceId_race_result                   int64
driverId                             int64
constructorId                        int64
position                             int64
laps                                 int64
time_race_result            datetime64[ns]
milliseconds_race_result            object
fastestLap                           int64
rank                                 int64
fastestLapTime                      object
fastestLapSpeed                     object
stop                                 int64
lap                                  int64
time_in_pit                         object
duration                            object
milliseconds_in_pit                  int64
dtype: object

In [1042]:
milliseconds = merger_one['time_race_result']

def convert_to_datetime(race_time_str):
    try:
        hours, minutes, seconds = race_time_str.split(':')
        total_seconds = int(hours) * 3600 + int(minutes) * 60 + float(seconds)
        return pd.Timestamp.min + pd.Timedelta(seconds=total_seconds)
    except ValueError:
        return pd.NaT

# Convert the column to datetime using the custom function
merger_one['time_race_result'] = milliseconds.apply(convert_to_datetime)

In [1045]:
merger_one.isna().sum()

resultId                      0
raceId_race_result            0
driverId                      0
constructorId                 0
position                      0
laps                          0
time_race_result            562
milliseconds_race_result      0
fastestLap                    0
rank                          0
fastestLapTime                0
fastestLapSpeed               0
stop                          0
lap                           0
time_in_pit                   0
duration                      0
milliseconds_in_pit           0
dtype: int64

In [1047]:
merger_one.head(40)

,resultId,raceId_race_result,driverId,constructorId,position,laps,time_race_result,milliseconds_race_result,fastestLap,rank,fastestLapTime,fastestLapSpeed,stop,lap,time_in_pit,duration,milliseconds_in_pit
0,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,1,2,14:08:39,6:27.399,387399
1,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,2,7,16:27:26,24.308,24308
2,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,1,13,14:25:50,23.866,23866
3,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,2,35,15:10:18,32.254,32254
4,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,1,25,14:37:51,22.487,22487
5,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,1,7,15:15:34,30.942,30942
6,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,2,23,15:36:31,31.682,31682
7,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,3,48,16:08:48,24.102,24102
8,25746,1092,830,9,1,28,1677-09-21 03:14:27.149224193,10904004,10,4,1:44.911,199.266,1,20,17:33:31,22.735,22735
9,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,1,2,14:08:44,6:32.517,392517
10,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,2,7,16:27:32,25.322,25322
11,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,1,14,14:27:47,23.403,23403
12,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,2,38,15:15:33,24.801,24801
13,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,1,23,14:35:10,24.892,24892
14,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,1,23,15:35:54,22.869,22869
15,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,2,47,16:06:49,23.152,23152
16,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,1,15,17:26:00,21.360,21360
17,25747,1092,815,9,2,28,NaT,10931070,11,9,1:46.120,196.995,2,33,17:53:33,21.367,21367
18,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,1,2,14:08:41,6:29.973,389973
19,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,2,7,16:27:27,25.899,25899
20,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,1,18,14:34:58,24.314,24314
21,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,2,35,15:10:26,23.755,23755
22,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,1,28,14:42:33,22.193,22193
23,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,1,7,15:15:42,30.080,30080
24,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,2,21,15:34:01,23.172,23172
25,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,3,44,16:03:38,23.124,23124
26,25748,1092,844,6,3,28,NaT,10935767,10,3,1:44.489,200.070,1,21,17:35:10,22.210,22210
27,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,1,2,14:08:46,6:33.601,393601
28,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,2,7,16:27:34,25.172,25172
29,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,1,18,14:35:37,24.816,24816
30,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,2,45,15:28:05,24.711,24711
31,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,1,33,14:49:47,22.343,22343
32,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,1,24,15:37:35,23.868,23868
33,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,2,47,16:07:25,24.445,24445
34,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,1,14,17:24:48,21.895,21895
35,25749,1092,839,214,4,28,NaT,10943689,11,11,1:46.559,196.184,2,41,18:06:09,21.734,21734
36,25750,1092,1,131,5,28,NaT,10944330,11,7,1:45.530,198.097,1,2,14:08:49,6:36.504,396504
37,25750,1092,1,131,5,28,NaT,10944330,11,7,1:45.530,198.097,2,7,16:27:36,25.059,25059
38,25750,1092,1,131,5,28,NaT,10944330,11,7,1:45.530,198.097,1,12,14:24:13,24.362,24362
39,25750,1092,1,131,5,28,NaT,10944330,11,7,1:45.530,198.097,2,34,15:08:39,24.135,24135